html,
body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
}

header {
    font-size: 2em;
    text-align: center;
    color: white;
    background-color: darkslateblue;
    box-shadow: 0px 5px 5px black;
    padding: 3%;
    margin-bottom: 3%;
}

#form-container {
    margin: 5%;
}

.form-inputs {
    margin: 0px 5%;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    margin-bottom: 8px;
}

button {
    padding: 2em;
    background-color: limegreen;
    border: 2px outset green;
}

#table-container {
    display: flex;
    justify-content: center;
}

table {
    width: 75%;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 2%;
    text-align: left;
}

th {
    color: white;
    background-color: darkslateblue;
}

td {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: silver;
}

span {
    margin: 0px 15px;
}

label {
    font-size: xx-large;
}